* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main page*/
main {
  font-family: "Heebo", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("./background.jpg");
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}



#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

a {
  position: relative;
  text-decoration: none;
  font-size: 3rem;
  color: rgb(241, 42, 75);

}

a:hover {
  color: #ffffff;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

.Name {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(0, 0, 0);
  width: 800px;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 2;
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
  z-index: 2;
}

.hide {
  background: black;
  overflow: hidden;
  z-index: 2;
}
.links{
  font-family:"Lobster", cursive; 
}




.hide span {
  transform: translateY(100%);
  display: inline-block;
  z-index: 2;
}

/* work page */


.my-work{
  height:100vh;
  width: 100%;
  background: url("./work.png");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.work-box h1{
  margin-bottom: 30px;
}


.work-box{
  font-family: "Heebo", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  color: rgb(255, 255, 255);
  background-color: #0000005c ;
  border-radius: 15px;
  border:  solid 1px  rgb(129, 129, 129);
  z-index: 1;
}

.work-pic{
  width: 250px;
  height: 150px;

}

/*about me */

.about-me{
  height:100vh;
  width: 100%;
  background: url("./about-me.png");
  display: flex;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.about-mebox{
  font-family: "Heebo", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  display: flex;
  -items: center;
  flex-direction: column;
  height: 80%;
  color: rgb(255, 255, 255);
  background-color: #0000005c ;
  border-radius: 15px;
  border:  solid 1px  rgb(129, 129, 129);
  z-index: 1;

}

.about-mebox h1{
  margin-top: 75px;
  font-size: 2.6rem;
}
.about-mebox p{
  font-size: 1.7rem;
  color: #ffffff;
}
.textbox{
  margin-top: 100px;
}

.circle{
  position:absolute;
  width: 520px;
  height: 520px;
  opacity: 1;
  filter: url(#wavy) blur(1px);
}

.circle::before{
  content: '';
  position: absolute;
  top:100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 10px solid white;
  border-radius: 100%;
  box-shadow: 0 0 50px #0f0, inset 0 0 40px #0f0;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0002);
  animation: animate  5s linear infinite ;

}
.circle::after{
  content: '';
  position: absolute;
  top:100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: 0 0 50px rgb(255, 255, 255), inset 0 0 40px rgb(255, 255, 255);

}
.circle:nth-child(2)::before{
  animation-delay: -2,5s;
}
@keyframes animate{
  0%
{
   box-shadow: 0 0 50px #0f0 inset 0 0 50px #0f0;
   filter:  hue-rotate(0deg);
 }
 20%
 {
   box-shadow: 0 0 60px #0f0 inset 0 0 60px #0f0;
 
  }
  40%
 {
   box-shadow: 0 0 40px #0f0 inset 0 0 40px #0f0;
 
  }
  60%
 {
   box-shadow: 0 0 80px #0f0 inset 0 0 80px #0f0;
  }
  80%
 {
   box-shadow: 0 0 100px #0f0 inset 0 0 100px #0f0;
  }
 100%
 {
   box-shadow: 0 0 50px #0f0 inset 0 0 50px #0f0;
   filter:  hue-rotate(360deg);
  }
}

svg{
  width: 0;
  height: 0;
}



#two{
  margin-bottom: 250px;
  margin-left: 1000px;
}

#one{
  margin-top: 250px;
  margin-right: 1000px;
}


@media(max-width: 1500px){
#one{
  display: none;

}
#two{
  display: none;
}

}



@media(max-width: 1500px){
  .work-pic{width: 200px;
    height: 200px;

  }
}

@media(max-width: 1200px){
  .work-pic{width: 150px;
    height: 150px;

  }
}

@media(max-width: 690px){
  .work-pic{width: 100px;
    height: 100px;
  }
}

@media(max-width: 1200px){
  .Name{width: 700px;
  }
}
@media(max-width:670px){
  .Name{width: 500px;
  }
}
@media(max-width: 730px){
  .nav-links li{padding-left:5rem;
  
  }
}
@media(max-width: 540px){
  .nav-links li{padding-left:2rem;
  }
  .about-mebox p{
    font-size: 1.2rem;
  }
  .logo{
    font-size: 1.5rem;
    
  }
  .Name{
    font-size: 2.5rem;
    width: 300px;
  }
  .intro-text{
    font-size: 1.5rem;
  }
#logo{
  padding-right: 40px;
}
nav{
  display: flex;
  justify-content: center;
 }
}  
  